<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemaBienestarEstudiantil">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.hidrataciones.HidratacionActivity" />

        <activity android:name=".ui.actividades.ListaActividadesActivity" android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.actividades.DetalleActividadActivity" android:parentActivityName=".ui.actividades.ListaActividadesActivity" />
        <activity android:name=".ui.actividades.FormularioActividadActivity" android:parentActivityName=".ui.actividades.ListaActividadesActivity" />
        <activity android:name=".ui.actividades.RegistrarAvanceActivity" android:parentActivityName=".ui.actividades.ListaActividadesActivity" />

        <activity android:name=".ui.suenio.SuenioActivity" />
        <activity android:name=".ui.suenio.RegistrarSuenioActivity" />

        <activity android:name=".ui.sostenibilidad.SostenibilidadActivity" />
        <activity android:name=".ui.sostenibilidad.RegistroSostenibilidadActivity" />

        <activity android:name=".ui.enfoques.DeepWorkActivity" />
        <activity android:name=".ui.enfoques.PomodoroActivity" />
        <activity android:name=".ui.juegomemoria.IntroJuegoActivity" />
        <activity android:name=".ui.juegomemoria.JuegoMemoriaActivity" />
        <activity android:name=".ui.calculadora.CalculadoraActivity" />

    </application>

</manifest>