<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemaBienestarEstudiantil">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.HidratacionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ListaActividadesActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.DetalleActividadActivity"
            android:exported="false"
            android:parentActivityName=".ui.ListaActividadesActivity" />

        <activity
            android:name=".ui.FormularioActividadActivity"
            android:exported="false"
            android:parentActivityName=".ui.ListaActividadesActivity" />

        <activity
            android:name=".ui.RegistrarAvanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.ListaActividadesActivity" />

        <activity android:name=".ui.SuenioActivity" />
        <activity android:name=".ui.RegistrarSuenioActivity" />

        <activity android:name=".ui.DeepWorkActivity" />
        <activity android:name=".ui.PomodoroActivity" />

    </application>

</manifest>